

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sotongMainWrap {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background-color: orange;
  margin-top: 100px;
  display: flex;
}
.sotongMainImg {
  width: 100%;
  height: 100%;
}
.sotongMainText{
  position: absolute;
  top: 45%;
  left: 30%;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'GangwonEduPowerExtraBoldA';
  justify-content: center;
}

.sotongBody {
  width: 80%;
  margin: 0 auto;
}
.sotongButtonTitle {
  font-size: 1.5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: black;
  text-align: center;
  padding: 40px;
}
.sotongButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sotongreButton {
  margin-left: 10px;

}

.sotongA{
  width: auto;
}